body {
  background: radial-gradient(circle at top, #4c00ff , #ff7700);
  height:100%;
  
  
}
   .container {
    max-width: 400px;
    margin-top: 90px;
  }
  .search i {
    position: absolute;
  }
  .search {
    position: relative;
  }
  .icon {
    padding: 10px;
    left: 0;
  }
  .input-field {
    text-align: center;
  }
  
  input[type="text"],
  input[type="text"]:focus {
    color: #000000;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    max-width: 400px;
  }
  .todos li {
    background: #000000;
  }
  .delete {
    cursor: pointer;
  }
  
  
  .filtered{
    display: none !important;
  }